<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="NaniteClip"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="AnotherGenZ"
    UpgradeCode="C65B9E43-D5EA-44F5-8EA0-6BF7F6727A33">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of NaniteClip is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="ProductIcon" SourceFile="$(var.CargoTargetBinDir)\nanite-clip.exe" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />

    <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="NaniteClip">
          <Component Id="MainExecutableComponent" Guid="95BF55D7-07C6-41BE-BEC4-D9127AC1AB7A">
            <File
              Id="MainExecutableFile"
              Source="$(var.CargoTargetBinDir)\nanite-clip.exe"
              KeyPath="yes"
              Checksum="yes" />
          </Component>
          <Component Id="UpdaterExecutableComponent" Guid="5A2C64C0-2B26-4FC3-9848-5D0C0FA5B993">
            <File
              Id="UpdaterExecutableFile"
              Source="$(var.CargoTargetBinDir)\nanite-clip-updater.exe"
              KeyPath="yes"
              Checksum="yes" />
          </Component>
          <Component Id="InstallChannelMarkerComponent" Guid="321D0E30-8895-4A0C-9301-0E17C13D96FB">
            <File
              Id="InstallChannelMarkerFile"
              Source="packaging\windows\wix\install-channel.txt"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="NaniteClip">
          <Component Id="ProgramMenuShortcutComponent" Guid="F6F955D8-2D8C-4540-8F34-14F3C8A3B5DE">
            <Shortcut
              Id="StartMenuShortcut"
              Name="NaniteClip"
              Description="PlanetSide 2 desktop companion for automatic and manual clip capture"
              Target="[INSTALLFOLDER]nanite-clip.exe"
              WorkingDirectory="INSTALLFOLDER"
              Icon="ProductIcon"
              IconIndex="0">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="AnotherGenZ.NaniteClip" />
            </Shortcut>
            <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
            <RegistryValue
              Root="HKCU"
              Key="Software\AnotherGenZ\NaniteClip"
              Name="Installed"
              Type="integer"
              Value="1"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="NaniteClip" Level="1">
      <ComponentRef Id="MainExecutableComponent" />
      <ComponentRef Id="UpdaterExecutableComponent" />
      <ComponentRef Id="InstallChannelMarkerComponent" />
      <ComponentRef Id="ProgramMenuShortcutComponent" />
    </Feature>
  </Product>
</Wix>
